@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }

  nb-card-body {

    -ms-flex: 1 1 auto;
    overflow: auto;
    padding: 1rem 1.5rem;
    position: relative;
    height: 700px;


  }



}

:host {
  display: block;
  max-height: 75rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.card-row {
  display: flex;
  margin: 0 -0.5rem;
}

.card-col {
  flex: 1 0 calc(50% - 1rem);
  margin: 0 0.5rem;
}

.step-content {
  width: 100%;

}
.invalid-feedback{
  display: block;
}


//.button:hover {
//  background-color: #0a7827;
//  cursor: pointer;
//}
.button:hover {
  background-color: #ddffbe;
  cursor: pointer;
}

.button:active {
  background-color: #0a7827;
}








