<div class="row">
  <div class="col-lg-6">

    <nb-card>
      <nb-card-header>Service Provider Networks</nb-card-header>
      <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source" (edit)="onEdit($event)">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>

  </div>

  <div class="col-lg-6">

    <nb-card>
      <nb-card-header>Manage SPN </nb-card-header>
      <nb-card-body>
        <form [formGroup]="spnForm" (ngSubmit)="formSubmit(spnForm)">
          <input type="text" formControlName="name" nbInput fullWidth placeholder="SPN Name">
          <br/><br/>
          <input type="text" formControlName="description" nbInput fullWidth placeholder="Description">
          <br/><br/>
          <button nbButton type="submit" color="blue" (click)="formSubmit(spnForm)">{{label}}</button>
            &nbsp;
          <button *ngIf="label === 'Edit'" nbButton type="submit" color="blue" (click)="formSubmit(spnForm)">Delete</button>
          &nbsp;&nbsp;
          <button nbButton type="button" color="blue"  (click)="onReset()">Clear</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>


</div>
