<div class="row">
  <div class="col-lg-6">

    <nb-card>
      <nb-card-header>Service Provider Networks</nb-card-header>
      <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source" (edit)="onEdit($event)">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>

  </div>

  <div class="col-lg-6">

    <nb-card>
      <nb-card-header>Manage SPN </nb-card-header>
      <nb-card-body>
        <form [formGroup]="spnForm">
          <div class="row">
            <div class="col">
              <input type="text" formControlName="name" nbInput fullWidth placeholder="SPN Name">
              <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
                <div *ngIf="form.name.errors.required">Name is required</div>
              </div>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col">
              <input type="text" formControlName="description" nbInput fullWidth placeholder="Description">
              <div *ngIf="submitted && form.description.errors" class="invalid-feedback">
                <div *ngIf="form.description.errors.required">Description is required</div>
              </div>
            </div>
          </div>
          <br />
          <input type="hidden" formControlName="spnObject" nbInput>

          <button [nbSpinner]="submitted && loading" nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage="" nbButton
            type="submit" color="blue" (click)="formSubmit(spnForm)">{{label}}</button> &nbsp;
          &nbsp;
          <button [nbSpinner]="!submitted && loading" nbSpinnerStatus="success" nbSpinnerSize="large"
            nbSpinnerMessage="" *ngIf="label === 'Update'" nbButton type="submit" color="blue"
            (click)="deleteSpn(spnForm)">Delete</button>
          &nbsp;&nbsp;
          <button nbButton type="button" color="blue" (click)="onReset()">Clear</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>


</div>