<form [formGroup]="caseForm" (ngSubmit)="formSubmit(caseForm)">

  <div class="container">
    <div class="row">
      <div class="col">

        <div>
          <label class="label"><h5>{{taskName}} ({{caseId}}) (Status : {{requestStatus}})</h5></label>
        </div>

        <label class="label" for="input-email">Received From/Scheme Official
          <nb-icon icon="question-mark-circle" nbTooltip="The person who made the request" nbTooltipStatus="primary"
                   status="info"></nb-icon>
        </label>
<!--        <input nbInput fullWidth type="text" formControlName="receivedFrom" id="input-email">-->
        <nb-select placeholder="Scheme Official"
                   fullWidth
                   formControlName="receivedFrom"
                   id="input-email">
          <nb-option [value]="officials.email"
                     (selectionChange)="selectedSchemeOfficial(officials)"
                     *ngFor="let officials of schemeOfficialsList">{{officials.email}}</nb-option>
        </nb-select>

        <label class="label" for="input-subject">Subject
          <nb-icon icon="question-mark-circle" nbTooltip="What is the request about" nbTooltipStatus="primary"
                   status="info"></nb-icon>
        </label> <input nbInput fullWidth type="text" formControlName="subject" id="input-subject">
        <label class="label" for="input-origin">Origin
          <nb-icon icon="question-mark-circle" nbTooltip="Where the request originated from" nbTooltipStatus="primary"
                   status="info"></nb-icon>
        </label> <br/>
        <nb-select placeholder="Select origin" formControlName="origin" id="input-origin">
          <nb-option [value]="origin" *ngFor="let origin of origins">{{origin}}</nb-option>
        </nb-select>
        <br/>
        <label class="label" for="input-description">Description
          <nb-icon icon="question-mark-circle"
                   nbTooltip="Outline what needs to be delivered and provide some background" nbTooltipStatus="primary"
                   status="info"></nb-icon>
        </label><textarea nbInput fullWidth type="text" formControlName="description" id="input-description"></textarea><br/>
      </div>
    </div>
    <nb-tabset>

      <nb-tab tabTitle="Case Details" tabIcon="list">
        <div class="row">

          <div class="col">

            <label class="label" for="input-schemes">Scheme
              <nb-icon icon="question-mark-circle" nbTooltip="Scheme Departments" nbTooltipStatus="primary"
                       status="info"></nb-icon>
            </label>
            <nb-select placeholder="Scheme Departments"
                       formControlName="schemesDepartment"
                       [disabled]="!(formData.schemesDepartment?.length === 0)"
                       id="input-schemes">

              <nb-option [value]="scheme.name"
                         *ngFor="let scheme of schemeList">{{scheme.name}}</nb-option>
            </nb-select>
            <br/>

            <label class="label" for="input-division">Divisions
              <nb-icon icon="question-mark-circle"
                       nbTooltip="From which department at the scheme did this request originate from"
                       nbTooltipStatus="primary" status="info"></nb-icon>
            </label>
            <nb-select placeholder="Select Division" formControlName="division" id="input-division">
              <nb-option [value]="division.name"
                         *ngFor="let division of divisions">{{division.name}}</nb-option>
            </nb-select>
            <br/>

            <label class="label" for="input-priority">Priority
              <nb-icon icon="question-mark-circle" nbTooltip="Assign priority level" nbTooltipStatus="primary"
                       status="info"></nb-icon>
            </label>
            <nb-select placeholder="Select Priority" formControlName="priority" id="input-priority">
              <nb-option [value]="priority.value"
                         *ngFor="let priority of priorities">{{priority.description}}</nb-option>
            </nb-select>
            <br/>

            <label class="label" for="input-fundAdministrator">Fund Administrator/Co-Ordinators
              <nb-icon icon="question-mark-circle"
                       nbTooltip="Find the person from the drop down who is supposed to action the request"
                       nbTooltipStatus="primary" status="info"></nb-icon>
            </label>
<!--            <input nbInput fullWidth type="text" formControlName="fundAdministrator" id="input-fundAdministrator">-->
            <nb-select placeholder="Fund Administrator" formControlName="operationsUser" id="input-fundAdministrator">
              <nb-option [value]="fundAdmin.email"
                         (selectionChange)="selectedUser(fundAdmin, 'fundManager')"
                         *ngFor="let fundAdmin of fundAdministratorList">{{fundAdmin.email}}</nb-option>
            </nb-select>
            <br/>

            <label class="label" for="input-manager">Fund Manager
              <nb-icon icon="question-mark-circle"
                       nbTooltip="Find the Head of Department responsible for the division in which the assigned person is reporting to"
                       nbTooltipStatus="primary" status="info"></nb-icon>
            </label><br/><input
                      nbInput
                      type="text"
                      class="sb-text"
                      readonly
                      formControlName="fundManager"
                      id="input-manager">
            <br/>

            <label class="label" for="input-operation-user">Operation User
              <nb-icon icon="question-mark-circle"
                       nbTooltip="Find th Operations user"
                       nbTooltipStatus="primary" status="info"></nb-icon>
            </label>
            <nb-select placeholder="Operation User" formControlName="operationsUser" id="input-operation-user">
              <nb-option [value]="ops.email"
                         (selectionChange)="selectedUser(ops, 'operationsHod')"
                         *ngFor="let ops of operationsList">{{ops.email}}</nb-option>
            </nb-select>
<!--            <input nbInput fullWidth type="text" formControlName="operationsUser" id="input-operation-user">-->
            <br/>

            <label class="label" for="input-operation-head">Head of Department
              <nb-icon icon="question-mark-circle"
                       nbTooltip="Find the Head of Department responsible for operations"
                       nbTooltipStatus="primary" status="info"></nb-icon>
            </label><br/><input nbInput
                           readonly
                           class="sb-text"
                           type="text"
                           formControlName="operationsHod"
                           id="input-operation-head">
            <br/>
          </div>


          <div class="col">

            <label class="label" for="input-operations-department">Operations Department
              <nb-icon icon="question-mark-circle" nbTooltip="Operations Department" nbTooltipStatus="primary"
                       status="info"></nb-icon>
            </label>
            <nb-select placeholder="Select Operations Department" formControlName="operationsDepartment"
                       id="input-operations-department">
              <nb-option [value]="operationDept.name"
                         *ngFor="let operationDept of operationDepartmentList">{{operationDept.name}}</nb-option>
            </nb-select>
            <br/>

            <div *ngIf="taskName === 'Manual Classification'">
              <label class="label" for="input-serviceProviderNetwork">Service Provider Network
                <nb-icon icon="question-mark-circle" nbTooltip="Scheme"
                         nbTooltipStatus="primary" status="info"></nb-icon>
              </label>
              <nb-select
                placeholder="Select Service Provider Network"
                formControlName="serviceProviderNetwork"
                id="input-serviceProviderNetwork"
                class="selectpicker"
                multiple>
                <nb-option [value]="serviceProviderNetwork.name"
                           *ngFor="let serviceProviderNetwork of serviceProviderNetworks">{{serviceProviderNetwork.name}}</nb-option>
              </nb-select>
              <br/>
            </div>

            <label class="label" for="input-tags">Case Tag
              <nb-icon icon="question-mark-circle"
                       nbTooltip="Tag case, for later searching"
                       nbTooltipStatus="primary" status="info"></nb-icon>
            </label>
              <br/>
              <input nbInput
                     class="sb-text"
                     type="text"
                     formControlName="tag"
                     id="input-tags">
            <br/>

            <div *ngIf="enableClassification">
              <label class="label" for="input-case-validity">Case Validity
                <nb-icon icon="question-mark-circle" nbTooltip="Case validity"
                         nbTooltipStatus="primary" status="info"></nb-icon>
              </label>
              <nb-select formControlName="caseValidity"
                         id="input-case-validity">
                <nb-option [value]="result" *ngFor="let result of caseValidityList">{{result}}</nb-option>
              </nb-select>
            </div>


            <div *ngIf="enableTracking">
              <label class="label" for="input-close-or-reassign">Close or Reassign
                <nb-icon icon="question-mark-circle" nbTooltip="Close or Reassign case"
                         nbTooltipStatus="primary" status="info"></nb-icon>
              </label>
              <nb-select formControlName="closeCase"
                         id="input-close-or-reassign">
                <nb-option
                  [value]="result.value" *ngFor="let result of closeCaseList"
                  (selectionChange)="selectedValue($event)">{{result.description}}</nb-option>
              </nb-select>
            </div>

            <div *ngIf="enableTracking && showClosureStatus">
              <label class="label" for="input-closure-status">Closure Reason
                <nb-icon icon="question-mark-circle" nbTooltip="Close Reason"
                         nbTooltipStatus="primary" status="info"></nb-icon>
              </label>
              <nb-select formControlName="closureStatus"
                         id="input-closure-status">
                <nb-option [value]="result" *ngFor="let result of closureStatusList">{{result}}</nb-option>
              </nb-select>
            </div>

          </div>

        </div>
      </nb-tab>

      <nb-tab tabTitle="Case Dates" tabIcon="list">
        <div class="row">

          <div class="col">
            <br/>
            <label class="label" for="input-assignedDate">Created On
              <nb-icon icon="question-mark-circle" nbTooltip="To date you send the request to the assignee"
                       nbTooltipStatus="primary" status="info"></nb-icon>
            </label> <input nbInput formControlName="assignedDate" id="input-assignedDate"
                            [nbDatepicker]="assignedDate">
            <nb-datepicker #assignedDate></nb-datepicker>
            <br/>


            <label class="label" for="input-receivedDate">Date Received
              <nb-icon icon="question-mark-circle" nbTooltip="Date the request was received from the Scheme"
                       nbTooltipStatus="primary" status="info"></nb-icon>
            </label> <input nbInput formControlName="receivedDate" id="input-receivedDate"
                            [nbDatepicker]="receivedDate">
            <nb-datepicker #receivedDate></nb-datepicker>
            <br/>

            <label class="label" for="input-dueDate">Due Date
              <nb-icon icon="question-mark-circle" nbTooltip="To track when the request is due for delivery"
                       nbTooltipStatus="primary" status="info"></nb-icon>
            </label> <input nbInput formControlName="dueDate" id="input-dueDate" [nbDatepicker]="dueDate">
            <nb-datepicker #dueDate></nb-datepicker>
            <br/>

            <label class="label" for="input-receiptAcknowledgementDate">Acknowledged On Date
              <nb-icon icon="question-mark-circle" nbTooltip="To track when we acknowledged request"
                       nbTooltipStatus="primary" status="info"></nb-icon>
            </label> <input nbInput formControlName="receiptAcknowledgementDate" id="input-receiptAcknowledgementDate"
                            [nbDatepicker]="receiptAcknowledgementDate">
            <nb-datepicker #receiptAcknowledgementDate></nb-datepicker>
            <br/>


            <label class="label" for="input-submissionDate">Completed Date
              <nb-icon icon="question-mark-circle"
                       nbTooltip="Select the date in which the enquiry was completed and send to the requestor"
                       nbTooltipStatus="primary" status="info"></nb-icon>
            </label> <input nbInput formControlName="submissionDate" id="input-submissionDate"
                            [nbDatepicker]="submissionDate">
            <nb-datepicker #submissionDate></nb-datepicker>
            <br/>

            <!--        <label class="label" for="input-tags">Case Tag-->
            <!--          <nb-icon icon="question-mark-circle"-->
            <!--                   nbTooltip="Tag case, for later searching"-->
            <!--                   nbTooltipStatus="primary" status="info"></nb-icon>-->
            <!--        </label><input nbInput fullWidth type="text" formControlName="tag" id="input-tags">-->
            <!--        <br/>-->

            <!--        <div *ngIf="enableClassification">-->
            <!--        <label class="label" for="input-case-validity">Case Validity-->
            <!--          <nb-icon icon="question-mark-circle" nbTooltip="Case validity"-->
            <!--                   nbTooltipStatus="primary" status="info"></nb-icon>-->
            <!--        </label>-->
            <!--        <nb-select formControlName="caseValidity"-->
            <!--                   id="input-case-validity">-->
            <!--          <nb-option [value]="result" *ngFor="let result of caseValidityList">{{result}}</nb-option>-->
            <!--        </nb-select>-->
            <!--        </div>-->


            <!--        <div *ngIf="enableTracking">-->
            <!--          <label class="label" for="input-close-or-reassign">Close or Reassign-->
            <!--            <nb-icon icon="question-mark-circle" nbTooltip="Close or Reassign case"-->
            <!--                   nbTooltipStatus="primary" status="info"></nb-icon>-->
            <!--          </label>-->
            <!--          <nb-select formControlName="closeCase"-->
            <!--                   id="input-close-or-reassign">-->
            <!--            <nb-option-->
            <!--              [value]="result.value" *ngFor="let result of closeCaseList"-->
            <!--              (selectionChange)="selectedValue($event)">{{result.description}}</nb-option>-->
            <!--          </nb-select>-->
            <!--        </div>-->

            <!--        <div *ngIf="enableTracking && showClosureStatus">-->
            <!--        <label class="label" for="input-closure-status">Closure Reason-->
            <!--          <nb-icon icon="question-mark-circle" nbTooltip="Close Reason"-->
            <!--                   nbTooltipStatus="primary" status="info"></nb-icon>-->
            <!--        </label>-->
            <!--        <nb-select formControlName="closureStatus"-->
            <!--                   id="input-closure-status">-->
            <!--          <nb-option [value]="result" *ngFor="let result of closureStatusList">{{result}}</nb-option>-->
            <!--        </nb-select>-->
            <!--      </div>-->


          </div>
        </div>
      </nb-tab>

    </nb-tabset>

    <div class="row">
      <div class="col">
        <button [disabled]="!taskCompleted" nbButton type="submit" color="blue" (click)="formSubmit(caseForm)">Submit
        </button>
        &nbsp;&nbsp;
        <button nbButton type="button" color="blue" (click)="saveCaseData(caseForm)">Save</button>
      </div>
    </div>
  </div>
  <!-- <button nbButton type="submit"  size="default" color="primary" [disabled]="!caseForm.valid" >Submit</button> -->
</form>
