@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}

label{
  min-width: 250px;
}

input,
nb-select{
  margin-bottom: 10px;
}

nb-select{
  min-width: 450px;
}
