<br/><br/>
<table
  [ngStyle]="{'margin-left':'auto','margin-right':'auto', 'border-spacing': '10px', 'border-collapse': 'separate' }">
  <tr>
    <td>
      <table>
        <tr>
          <td>&nbsp;&nbsp;</td>
          <td>
            &nbsp;
          </td>
        </tr>
        <tr>
          <td [ngStyle]="{'align-content':'left','vertical-align':'top'}">
            <nb-card [size]="'50px'" [ngStyle]="{'border':'6px solid #a46109'}">
              <nb-card-body [ngStyle]="{'background-color':'#dfedf2'}">
                <nb-list>
                  <nb-list-item class="button" (click)="selectedMenuItem(menuItem)" *ngFor="let menuItem of menuItems">
                    {{ menuItem }}
                  </nb-list-item>
                </nb-list>
              </nb-card-body>
            </nb-card>
          </td>

          <td>
            <form [formGroup]="userForm" xmlns="http://www.w3.org/1999/html" [nbSpinner]="loading"
                  nbSpinnerStatus="primary" nbSpinnerSize="giant">
              <div class="container">
                <nb-tabset [ngStyle]="{'border':'6px solid #a46109'}">
                  <nb-tab tabTitle="Personal information" tabIcon="list" [active]="true">
                    <div class="row">
                      <div class="col-lg-6">
                        <nb-card>
                          <nb-card-header>Names and surname</nb-card-header>
                          <nb-card-body>

                            <label for="input-title">Title</label>
                            <nb-select class="align-text" fullWidth formControlName="title"
                                       id="input-title">
                              <nb-option
                                (blur)="onfocus()" [value]="title" [disabled]="isReadOnly"
                                         *ngFor="let title of titlesList ">{{title}}</nb-option>
                            </nb-select>
                            <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
                              <div *ngIf="form.title.errors.required">Title is required</div>
                            </div>
                            <br/>
                            <label for="input-name1">Firstname of practitioner</label>
                            <br/>
                            <input nbInput fullWidth (blur)="onfocus()"  type="text" [readOnly]="isReadOnly"
                                   formControlName="name1"
                                   [ngStyle]="{
                                   'text-align': 'left !important',
                                   'direction':'ltr',
                                   'padding':'-5px !important'
                                   }"
                                   id="input-name1">
                            <div *ngIf="submitted && form.name1.errors" class="invalid-feedback">
                              <div *ngIf="form.name1.errors.required">FirstName is required</div>
                            </div> <br/>

                            <label for="input-name2">Second name of practitioner</label>
                            <input (blur)="onfocus()"  nbInput fullWidth type="text" [readOnly]="isReadOnly"
                                   formControlName="name2" id="input-name2">


                            <label for="input-name3">Third name of practitioner</label>
                            <input (blur)="onfocus()"  nbInput fullWidth type="text" [readOnly]="isReadOnly"
                                   formControlName="name3" id="input-name3">


                            <label for="input-surname">Surname of practitioner</label>
                            <input (blur)="onfocus()" nbInput fullWidth type="text" [readOnly]="isReadOnly"
                                   formControlName="surname"
                                   id="input-surname">
                            <div *ngIf="submitted && form.surname.errors" class="invalid-feedback">
                              <div *ngIf="form.surname.errors.required">Surname is required</div>
                            </div>

                            <label for="input-maidensurname">Maiden surname if applicable</label>
                            <input (blur)="onfocus()"  nbInput fullWidth type="text" [readOnly]="isReadOnly"
                                   formControlName="maidensurname" id="input-maidensurname">

                          </nb-card-body>
                        </nb-card>
                      </div>
                      <div class="col-lg-6">
                        <nb-card>
                          <nb-card-header>Date of birth</nb-card-header>
                          <nb-card-body>

                            <label for="input-bithdate">Date of birth</label>
                            <!--               <nb-icon icon="question-mark-circle" nbTooltip="Birth Date" nbTooltipStatus="primary"-->
                            <!--                        status="info"></nb-icon>-->
                            <br/>
                            <!--                <input formControlName="bithdate" nbInput id="input-bithdate" [nbDatepicker]="bithdate">-->
                            <!--                <nb-datepicker #bithdate></nb-datepicker>-->
                            <input  (dateTimeChange)="dateTime($event, 'birthdate')" nbInput [owlDateTime]="birthdate"
                                   formControlName="birthdate" id="input-bithdate" [owlDateTimeTrigger]="birthdate">
                            <owl-date-time  [pickerType]="calendar" #birthdate></owl-date-time>
                            <br/>

                            <div *ngIf="form.passport.value.length == 0">
                              <label for="input-idnumber">Identification number</label>
                              <input nbInput fullWidth
                                     (focus)="onfocus()"
                                     [readOnly]="form.passport.value.length > 0"
                                     type="text"
                                     [maxLength]="13"
                                     (blur)="validateId(form.idnumber.value, 'idnumber')"
                                     formControlName="idnumber" id="input-idnumber">
                            </div>

                            <div *ngIf="form.idnumber.value.length == 0">
                              <label for="input-passport">Passport</label>
                              <input nbInput fullWidth
                                     [readOnly]="form.idnumber.value.length > 0"
                                     (blur)="validateId(form.passport.value, 'passport')"
                                     (focus)="onfocus()"
                                     type="text"
                                     formControlName="passport" id="input-passport">
                            </div>

                            <label for="input-citizenship">Are you a South African citizen</label>
                            <br/>
                            <nb-select  fullWidth formControlName="citizenship" id="input-citizenship">
                              <nb-option [value]="dis" *ngFor="let dis of disclaimerList"
                                         (blur)="onfocus()"
                                         (selectionChange)="selected($event)">{{dis}}</nb-option>
                            </nb-select>

                            <div *ngIf="stats">
                              <label for="input-southafricancitezen">South African citizen count</label>
                              <input nbInput fullWidth readonly type="text"
                                     class="size-input"
                                     formControlName="southafricancitezen" id="input-southafricancitezen">

                              <label for="input-nonsouthafricancitezen">Non South African citizen count</label>

                              <input nbInput fullWidth readonly type="text"
                                     class="size-input"
                                     formControlName="nonsouthafricancitezen" id="input-nonsouthafricancitezen">
                            </div>

                          </nb-card-body>
                        </nb-card>
                      </div>
                    </div>
                  </nb-tab>

                  <nb-tab tabTitle="Contact information" tabIcon="list" [active]="contactInformationTab"   [disabled]="contactInformationTab">
                    <div class="row">
                      <div class="col-lg-6">
                        <nb-card>
                          <nb-card-header>Residential address</nb-card-header>
                          <nb-card-body>

                            <label for="input-houseorcomplexnameandnumber">Complex or house number</label>
                            <input nbInput fullWidth type="text" [readOnly]="isReadOnly"
                                   formControlName="houseorcomplexnameandnumber" id="input-houseorcomplexnameandnumber">

                            <label for="input-streetnumberandname">Street number and name</label>
                            <input nbInput fullWidth type="text" [readOnly]="isReadOnly"
                                   formControlName="streetnumberandname" id="input-streetnumberandname">

                            <label for="input-suburbname">Suburb name</label>
                            <input nbInput fullWidth type="text" [readOnly]="isReadOnly"
                                   formControlName="suburbname" id="input-suburbname">

                            <label for="input-townname">Town name</label>
                            <input nbInput fullWidth type="text" [readOnly]="isReadOnly"
                                   formControlName="townname" id="input-townname">

                            <label for="input-provincename">Province</label>
                            <div *ngIf="submitted && form.provincename.errors" class="invalid-feedback">
                              <div *ngIf="form.provincename.errors.required">Gender is required</div>
                            </div>
                            <nb-select fullWidth formControlName="provincename" id="input-provincename">
                              <nb-option [value]="provincename" [disabled]="isReadOnly"
                                         *ngFor="let provincename of provinceNameList ">{{provincename}}</nb-option>
                            </nb-select>

                            <label for="input-postalcode">Postal code</label>
                            <input nbInput fullWidth type="text" [readOnly]="isReadOnly"
                                   formControlName="postalcode" id="input-postalcode">

                          </nb-card-body>
                        </nb-card>
                      </div>
                      <div class="col-lg-6">
                        <nb-card>
                          <nb-card-header>Contact details</nb-card-header>
                          <nb-card-body>
                            <label for="input-cellphone">Personal cellular number</label>
                            <input nbInput fullWidth type="text" [readOnly]="isReadOnly"
                                   formControlName="cellphone" id="input-cellphone">

                            <label for="input-worknumber">Personal telephone number</label>
                            <input nbInput fullWidth type="text" [readOnly]="isReadOnly"
                                   formControlName="worknumber" id="input-worknumber">

                            <label for="input-email">Personal e-mail</label>
                            <input nbInput fullWidth type="text" [readOnly]="isReadOnly"
                                   formControlName="email" id="input-email">

                          </nb-card-body>
                        </nb-card>
                      </div>
                    </div>
                  </nb-tab>

                  <nb-tab tabTitle="Demographic information" tabIcon="list" [disabled]="demographicInformationTab">
                    <div class="row">
                      <div class="col">
                        <nb-card>
                          <nb-card-header>Demographic details</nb-card-header>
                          <nb-card-body>

                            <label for="input-gender">Gender</label>
                            <div *ngIf="submitted && form.gender.errors" class="invalid-feedback">
                              <div *ngIf="form.gender.errors.required">Gender is required</div>
                            </div>
                            <nb-select fullWidth formControlName="gender" id="input-gender">
                              <nb-option [value]="gender" [disabled]="isReadOnly"
                                         *ngFor="let gender of genderList ">{{gender}}</nb-option>
                            </nb-select>

                            <label for="input-language">Language</label>
                            <div *ngIf="submitted && form.language.errors" class="invalid-feedback">
                              <div *ngIf="form.language.errors.required">Language is required</div>
                            </div>
                            <nb-select fullWidth formControlName="language" id="input-language">
                              <nb-option [value]="language" [disabled]="isReadOnly"
                                         *ngFor="let language of languageList ">{{language}}</nb-option>
                            </nb-select>


                            <label for="input-maritalstatus">Marital status</label>
                            <div *ngIf="submitted && form.maritalstatus.errors" class="invalid-feedback">
                              <div *ngIf="form.maritalstatus.errors.required">Marital Status is required</div>
                            </div>
                            <nb-select fullWidth formControlName="maritalstatus"
                                       id="input-maritalstatus">
                              <nb-option [value]="maritalstatus" [disabled]="isReadOnly"
                                         *ngFor="let maritalstatus of maritalStatusList ">{{maritalstatus}}</nb-option>
                            </nb-select>

                            <label for="input-ethnicalstatus">Ethnical status</label>
                            <div *ngIf="submitted && form.ethnicalstatus.errors" class="invalid-feedback">
                              <div *ngIf="form.ethnicalstatus.errors.required">Ethnical Status is required</div>
                            </div>
                            <nb-select fullWidth formControlName="ethnicalstatus"
                                       id="input-ethnicalstatus">
                              <nb-option [value]="ethnicalstatus" [disabled]="isReadOnly"
                                         *ngFor="let ethnicalstatus of ethnicalStatusList ">{{ethnicalstatus}}</nb-option>
                            </nb-select>

                            <label for="input-disabilitystatus">Disability status</label>
                            <div *ngIf="submitted && form.disabilitystatus.errors" class="invalid-feedback">
                              <div *ngIf="form.disabilitystatus.errors.required">Disability Status is required</div>
                            </div>
                            <nb-select fullWidth formControlName="disabilitystatus"
                                       id="input-disabilitystatus">
                              <nb-option [value]="disabilitystatus" [disabled]="isReadOnly"
                                         *ngFor="let disabilitystatus of disabilityStatusList ">{{disabilitystatus}}</nb-option>
                            </nb-select>
                          </nb-card-body>
                        </nb-card>

                      </div>
                    </div>
                  </nb-tab>



                  <nb-tab tabTitle="Academic information" tabIcon="list" [disabled]="academicInformationTab">
                    <div class="row">
                      <div class="col">
                        <nb-card>
                          <nb-card-header>Institution details</nb-card-header>
                          <nb-card-body>

                            <label for="input-doyouhavequalification">Do you have a formal qualification</label><br/>
                            <div class="form-control-group accept-group">

                              <nb-radio-group  id="input-doyouhavequalification" (valueChange)="checked(

                                   ['institutionname'
                                           ,'institutionname'
                                           ,'institutiontel'
                                           ,'qualificationname'
                                           ,'yearcompleted'
                                           ,'qualificationlevel'
                                           ,'durationofcourse'
                                           ,'universityobtained']

                                           ,$event)">

                              <nb-radio [ngStyle]="{'display': 'inline'}" value="true">No</nb-radio>
                              <nb-radio [ngStyle]="{'display': 'inline'}" value="false">Yes</nb-radio>
                            </nb-radio-group>
                            </div>
                            <br/>

                            <label for="input-institutionname">Institution name</label>
                            <input nbInput fullWidth type="text" [readOnly]="isReadOnly"
                                   formControlName="institutionname" id="input-institutionname">

                            <label for="input-institutiontel">Telephone number</label>
                            <input nbInput fullWidth type="text" [readOnly]="isReadOnly"
                                   formControlName="institutiontel" id="input-institutiontel">

                            <label for="input-qualificationname">Name of your community development
                              qualification</label>
                            <div *ngIf="submitted && form.qualificationname.errors" class="invalid-feedback">
                              <div *ngIf="form.qualificationname.errors.required">Qualification Name is required</div>
                            </div>
                            <nb-select fullWidth formControlName="qualificationname"
                                       id="input-qualificationname">
                              <nb-option [value]="qualification" [disabled]="isReadOnly"
                                         *ngFor="let qualification of qualificationNameList ">{{qualification}}</nb-option>
                            </nb-select>


                            <label for="input-yearcompleted">Year of graduation</label>
                            <br/>
                            <input (dateTimeChange)="dateTime($event, 'yearcompleted')" nbInput
                                   [owlDateTime]="yearcompleted"
                                   formControlName="yearcompleted" id="input-yearcompleted"
                                   [owlDateTimeTrigger]="yearcompleted">
                            <owl-date-time [pickerType]="'calendar'" #yearcompleted></owl-date-time>

                            <br/>

                            <label for="input-qualificationlevel">Qualification level</label>
                            <div *ngIf="submitted && form.qualificationlevel.errors" class="invalid-feedback">
                              <div *ngIf="form.qualificationlevel.errors.required">Qualification Level is required</div>
                            </div>
                            <nb-select fullWidth formControlName="qualificationlevel"
                                       id="input-qualificationlevel">
                              <nb-option [value]="qualificationlevel" [disabled]="isReadOnly"
                                         *ngFor="let qualificationlevel of qualificationLevelList ">{{qualificationlevel}}</nb-option>
                            </nb-select>

                            <label for="input-durationofcourse">Duration of your course</label>
                            <div *ngIf="submitted && form.durationofcourse.errors" class="invalid-feedback">
                              <div *ngIf="form.durationofcourse.errors.required">Duration of course is required</div>
                            </div>
                            <nb-select fullWidth formControlName="durationofcourse"
                                       id="input-durationofcourse">
                              <nb-option [value]="durationofcourse" [disabled]="isReadOnly"
                                         *ngFor="let durationofcourse of durationList ">{{durationofcourse}}</nb-option>
                            </nb-select>

                            <label for="input-universityobtained">University where your community development
                              qualification was obtained</label>
                            <div *ngIf="submitted && form.universityobtained.errors" class="invalid-feedback">
                              <div *ngIf="form.universityobtained.errors.required">Institution obtained is required
                              </div>
                            </div>
                            <nb-select fullWidth formControlName="universityobtained"
                                       id="input-universityobtained">
                              <nb-option [value]="university" [disabled]="isReadOnly"
                                         *ngFor="let university of universityNamesList">{{university}}</nb-option>
                            </nb-select>

                          </nb-card-body>
                        </nb-card>
                      </div>
                    </div>
                  </nb-tab>

                  <nb-tab tabTitle="Employment information" tabIcon="list" [disabled]="employmentInformationTab" >
                    <div class="row">
                      <div class="col-lg-12">
                      <nb-card>
                        <nb-card-header>Employment details</nb-card-header>
                        <nb-card-body>

                          <label for="input-employername">Employer name</label>
                          <input nbInput fullWidth type="text" [readOnly]="isReadOnly"
                                 formControlName="employername" id="input-employername">

                          <label for="input-sectorofemployment">Current sector of
                            employment</label>
                          <div *ngIf="submitted && form.sectorofemployment.errors" class="invalid-feedback">
                            <div *ngIf="form.sectorofemployment.errors.required">Sector of Employment< is required</div>
                          </div>
                          <nb-select fullWidth formControlName="sectorofemployment"
                                     id="input-sectorofemployment">
                            <nb-option [value]="sector" [disabled]="isReadOnly"
                                       *ngFor="let sector of sectorNamesList ">{{sector}}</nb-option>
                          </nb-select>


                          <label for="input-jobtitle">Job title</label>
                          <input nbInput fullWidth type="text" [readOnly]="isReadOnly"
                                 formControlName="jobtitle" id="input-jobtitle">


                          <label for="input-iscommunitypractitioner">Are you currently employed as a community
                            development practitioner</label>
                          <div *ngIf="submitted && form.iscommunitypractitioner.errors" class="invalid-feedback">
                            <div *ngIf="form.iscommunitypractitioner.errors.required">Employment Status is required
                            </div>
                          </div>
                          <nb-select fullWidth formControlName="iscommunitypractitioner"
                                     id="input-iscommunitypractitioner">
                            <nb-option [value]="status" [disabled]="isReadOnly"
                                       *ngFor="let status of disclaimerList">{{status}}</nb-option>
                          </nb-select>

                        </nb-card-body>
                      </nb-card>
                      </div>

                    </div>
                    <div class="row">

                      <div class="col-lg-6">
                        <nb-card>
                          <nb-card-header>Employment contact details</nb-card-header>
                          <nb-card-body>

                            <label for="input-empcellphone">Work cellular number</label>
                            <input nbInput fullWidth type="text" [readOnly]="isReadOnly"
                                   formControlName="empcellphone" id="input-empcellphone">

                            <label for="input-empworknumber">Work telephone number</label>
                            <input nbInput fullWidth type="text" [readOnly]="isReadOnly"
                                   formControlName="empworknumber" id="input-empworknumber">

                            <label for="input-empemail">Work e-mail</label>
                            <input nbInput fullWidth type="text" [readOnly]="isReadOnly"
                                   formControlName="empemail" id="input-empemail">

                          </nb-card-body>
                        </nb-card>
                      </div>
                      <div class="col-lg-6">
                        <nb-card>
                          <nb-card-header>Employment address</nb-card-header>
                          <nb-card-body>

                            <label for="input-empbusinessparknameorunitname">Business park or building name</label>
                            <input nbInput fullWidth type="text" [readOnly]="isReadOnly"
                                   formControlName="empbusinessparknameorunitname"
                                   id="input-empbusinessparknameorunitname">

                            <label for="input-empstreetnameandnumber">Street name & Street number</label>
                            <input nbInput fullWidth type="text" [readOnly]="isReadOnly"
                                   formControlName="empstreetnameandnumber" id="input-empstreetnameandnumber">

                            <label for="input-empsuburbname">Suburb name</label>
                            <input nbInput fullWidth type="text" [readOnly]="isReadOnly"
                                   formControlName="empsuburbname" id="input-empsuburbname">

                            <label for="input-emptownname">Town name</label>
                            <input nbInput fullWidth type="text" [readOnly]="isReadOnly"
                                   formControlName="emptownname" id="input-emptownname">

                            <label for="input-empprovincename">Province</label>
                            <div *ngIf="submitted && form.empprovincename.errors" class="invalid-feedback">
                              <div *ngIf="form.empprovincename.errors.required">Gender is required</div>
                            </div>
                            <nb-select fullWidth formControlName="empprovincename"
                                       id="input-empprovincename">
                              <nb-option [value]="provincename" [disabled]="isReadOnly"
                                         *ngFor="let provincename of provinceNameList ">{{provincename}}</nb-option>
                            </nb-select>


                            <label for="input-emppostalcode">Postal code</label>
                            <input nbInput fullWidth type="text" [readOnly]="isReadOnly"
                                   formControlName="emppostalcode" id="input-emppostalcode">

                          </nb-card-body>
                        </nb-card>
                      </div>

                    </div>
                  </nb-tab>

                  <nb-tab tabTitle="Supporting documents" tabIcon="list" [disabled]="supportingDocumentsTab">
                    <ngx-case-documents [case]='case'
                                        [disableOptions]="doYouHaveFormalEducation.length === 0"
                                        [iscommunityPractitioner]='doYouHaveFormalEducation'></ngx-case-documents>
                  </nb-tab>


                </nb-tabset>

                <div class="row">
                  <div class="col-lg-12"><br/>
                    <label class="text required" for="input-disclaimer">
                      I, hereby declare that the information provided in the verification form to be true
                      and correct in all aspects
                    </label>
                    &nbsp;&nbsp;
                    <nb-select placeholder="yes/no" formControlName="disclaimer" id="input-disclaimer" class="size">
                      <nb-option [value]="dis" *ngFor="let dis of disclaimerList"
                                 (selectionChange)="selected($event)">{{dis}}</nb-option>
                    </nb-select>
                    <div class="float-right">
                    <button nbTooltip='{{(!enableSaveButton) ? "Add Documents to enable button" : "Submit" }}'
                            nbTooltipPlacement="top" nbButton status="info" type="button"

                            [ngStyle]="{
                                        'border':'0px',
                                        'color':'black',
                                        'background-color':'#a0dc3d',
                                        'text-transform': 'lowercase'
                                        }"
                            (click)="formSubmit(userForm)"> Submit
                    </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </td>
      </table>
    </td>
  </tr>
</table>
